<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">

<!-- vendor css --> 
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" defer>   
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<!-- local css  -->
     <link rel="stylesheet" href="../public/style.css">
     <link rel="stylesheet" href="../public/login.css">
<!-- vendor script -->
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous" defer></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous" defer></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous" defer></script>     

     <script src="../public/app.js" defer></script>
     <title>Document</title>
</head>
<body>
     <!-- navbar -->
     <header>
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
               <a class="navbar-brand" href="#">Navbar</a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                         <li class="nav-item ">
                              <a class="nav-link" href="#">Home</a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link" href="#">Menu</a>
                         </li>
                    </ul>
               </div>
          </nav>
     </header>

     <form action="/" method="post">
          <div class = 'sign-up'>
               <input type="text" name = 'email' id = 'email' required = 'email'>
               <p class = signup-desc>Email</p>
               <input type="text" name = 'username'id = 'signup-name'class = 'signup-input'> 
               <p class = 'signup-desc'>Username</p>
               <input type="text" name = 'password'id = 'password'class = 'signup-input'> 
               <p class = 'signup-desc'>Password</p>
               <input type="text" name = 'confirm-password'id = 'reconfirm'class = 'signup-input'> 
               <p class = 'signup-desc'>Re-enter password</p>
               <input type="submit" id = 'signup-submit' value = 'Register'>    
          </div>
     </form>
     
     <footer>
          ©2018 
          <i class="fab fa-facebook"></i>
          <i class="fab fa-instagram"></i>
          <i class="far fa-comment-alt"></i>
     </footer>
     </div>
    
</body>
</html>